{{#each photos}}
    <figure data-full="{{this.full}}" data-title="{{this.title}}"><img src="{{this.file}}" alt="{{this.file}}" width="200" height="200"><figurecaption>{{this.title}}</figurecaption></figure>
{{/each}}

{{#if categories}}
    <li><a href=""> {{categories}} </a></li>
{{/if}}